* @batuhanyuksel

/cmd/ @batuhanyuksel
/docs/ @batuhanyuksel
/hack/ @batuhanyuksel
/internal/cli/ @batuhanyuksel
/internal/engine/ @batuhanyuksel
/internal/platform/ @batuhanyuksel
/internal/rules/ @batuhanyuksel
/internal/tui/ @batuhanyuksel
